In [1]:
#defining the variables
x= "apple"
y= "orange"
z= "banana"
# or you can write it as
a,b,c= "apple","orange","banana"
print (x)
print (a)
print (y)
print (b)
print (z)
print (c)

print(x,y,z,a,b,c,sep="\n")

apple
apple
orange
orange
banana
banana
apple
orange
banana
apple
orange
banana

In [2]:
#printing the different datatypes

p=2 # int
q=2.5 # float
r='aradhana'# string
s= True # boolean (T cannot be t. because of case sensitivity)
print(type(p))
print(type(q))
print(type(r))
print(type(s))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# for mathematical operations
x=1
y=2

print("add=",x+y)
print("sub=",y-x)
print("mul=",x*y)
print("div=",y/x)
print("exp=",y**x)

a=x+y
s=y-x
m=x*y
d=y/x
e=y**x
print(a,s,m,d,e, sep="\n")

In [3]:
#accepting the values of x and y from the user
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
#printing the values of x and y
print("x=",x)
print("y=",y)
#applying mathematical operations
print("add=",x+y)
print("sub=",y-x)
print("mul=",x*y)
print("div=",y/x)
print("exp=",y**x)

enter the value of x:3
enter the velocity3.5
enter the value of y:4
x= 3
y= 4
add= 7
sub= 1
mul= 12
div= 1.3333333333333333
exp= 64

In [ ]:
#generalised formula for the area of a circle
import math #to import the value of pi from the math library
r=float(input("enter the radius of the circle:"))
p= math.pi # the value of pi is assigned to "p". so we can now use the value of pi in the code
area=p*r*r
print("the area of the circle is",area)

In [ ]:
#finding the value of logx
import math
x=float(input("enter the value of x:"))
y=math.log10(x)
print("the value of log is",y)

In [ ]:
#checking which number is greater
x=int(input("enter the value of x:"))
y=int(input("enter the value of y:"))
if x>y:
    print("x is greater than y")
else:
    print("y is greater than x")